#postForm{
	width:50%;
}

#postForm .help-block{
	color:#ff0000;
}
.all-posts{
	margin-bottom:10px;
}
.posts{
/* 	width:100%; */
	margin-top:10px;
	border:1px solid #4b8df8;
}
.posts th{
	text-align:left;
	padding: 10px;
	background-color: #4b8df8;
	color: #fff;
}
.posts a.close{
	height:12px;
	width:12px;
	background:url('../img/glyphicons-halflings-white.png');
	background-position:156px 0px;;
}
.posts td{
	padding:10px;
}
.row{
    margin-top:10px;
    margin-bottom: 10px;
}